:root {
    --ion-color-primary: #3880ff;
    --ion-color-secondary: #5260ff;
    --ion-color-tertiary: #6a64ff;
  }
  .empty-state-icon {
    font-size: 100px;
    color: var(--ion-color-medium);
    margin-bottom: 20px;
  }