<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="person-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>User Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Username</ion-label>
        <ion-input [(ngModel)]="username" placeholder="Sett your username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Dark Mode</ion-label>
        <ion-toggle slot="end" [checked]="isDarkMode" (click)="toggleTheme()"></ion-toggle>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

