.error-message {
    font-size: 0.9rem; 
    margin-top: 4px; 
    margin-left: 0px; 
    line-height: 1.4; 
    display: flex;
    flex-direction: column;
  }
  
  .error-message p {
    margin: 0; 
  }