ion-card {
    margin: 10px;
    padding: 15px;
  }
  
  ion-card-header {
    text-align: center;
  }
  
  ion-title {
    font-size: 1.5em;
  }
  
  ion-card-subtitle {
    font-size: 1em;
    color: #888;
  }
  
  ion-item {
    margin-top: 10px;
  }

  .yellow-star {
    color: #FFD700; /* Gold color for the stars */
    font-size: 20px; /* Adjust size as needed */
  }
  .star-container {
    display: flex;
    align-items: center;
    gap: 4px; /* Add spacing between stars */
  }

  .rating-container{
    font-size: 15;
  }
  
